<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>krrish-crud-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertEmployeeServlet</display-name>
    <servlet-name>InsertEmployeeServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmployeeServlet</servlet-name>
    <url-pattern>/InsertEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeeServlet</display-name>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <servlet-class>com.royal.controller.ListEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <url-pattern>/ListEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>